{% extends 'base.html' %}
{%  load static %}
{% block content %}

<div class="container">
    <div class="row">

        {% for movie in object_list  %}
        <div class="col-lg-4 mt-5 d-flex align-items-stretch">
            <div class="card" style="width: 18rem; background-color: rgb(255, 191, 0); color: black;">
                <img class="card-img-top" src="{{ movie.thumbnail.url }}" alt="Card Img">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.synopsis | slice:"80" }}....</p>
                    <p class="card-text">Release Date:{{ movie.released_date }}</p>
                    <p class="card-text">Genre:{{ movie.genre }}</p>
                    <a href="{% url 'MoviesDetail' movie.slug  %}" class="btn card-btn mt-auto">Show More</a>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
    

</div>

{% endblock content %}